imagedataset/
output_images/
reference_images/
*.png
*.jpg
*.jpeg
.venv/
Scripts/
.vscode/
__pycache__/

.venv-1/
.venv-2/
.venv-3/

gonad-app/backend/venv/

normalized_updated_dataset/
*.png
*.jpg
*.jpeg


